.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image-item {
    width: 100%;
    width: 550px;
    height: 450px;
    border-radius: 0.5rem;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
}

.arrow {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    font-size: 24px;
    font-weight: 700;
}

.arrow span {
    padding-bottom: 0.4rem;
}

.arrow-left {
    left: 1rem;
}

.arrow-right {
    right: 1rem;
}

.circle-container {
    position: absolute;
    bottom: 1rem;
    display: flex;
    gap: 32px;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.active {
    background-color: #F1C40F;
}

.inactive {
    background-color: #424949;
}